<template>
<div
  class="sound-node"
  :id="id"
>
  <button
    @click="playSound"
    :disabled="!ready"
  >
    play sound
  </button>
</div>
</template>

<script>

export default {
  name: 'SoundNode',
  props: ['id', 'source', 'audioContext'],
  data() {
    return {
      ready: false,
    };
  },
  mounted() {
    const { generateBuffer } = this;

    generateBuffer()
    .then(() => {
      this.ready = true;
    })
    .catch(console.error);
  },
  methods: {
    playSound() {
      console.log('playSound');
      this.audioSource.start();
    },
    generateBuffer() {
      return new Promise((resolve) => {
        const { audioContext, source } = this;

        const req = new XMLHttpRequest();
        req.open('GET', source, true);
        req.responseType = 'arraybuffer';
        req.onload = () => {
          audioContext.decodeAudioData(req.response, (buffer) => {
            this.audioSource = audioContext.createBufferSource();
            this.audioSource.buffer = buffer;
            this.audioSource.connect(audioContext.destination);
            resolve();
          });
        };

        req.send();
      });
    },
  },
};
</script>

<style scoped>
audio {
  display: block;
  margin: 20px auto;
}
</style>
