<template>
  <div class="soundboard">
    <h1>{{ title }}</h1>

    <canvas
      width="800"
      height="400"
      ref="canvas"
    >
    </canvas>
  </div>
</template>

<script>
import W from 'when';
import sample from 'lodash/sample';
import inRange from 'lodash/inRange';
import uuid from 'uuid/v1';

const drums = require('../../static/audio/drums_final.mp3');
const loop = require('../../static/audio/original_sample_final.mp3');
const vocals = require('../../static/audio/original_vocal.mp3');
const keys = require('../../static/audio/sample_final.mp3');

const soundFiles = [
  { id: 0, source: drums, name: 'drums' },
  { id: 1, source: loop, name: 'loop' },
  { id: 2, source: vocals, name: 'vocals' },
  { id: 3, source: keys, name: 'keys' },
];

export default {
  name: 'Soundboard',
  data() {
    return {
      title: 'WeTransfer Golden Record Soundboard Prototype',
      audioContext: new (window.AudioContext || window.webkitAudioContext)(),
      soundFiles,
      mouseDown: false,
      isDrawing: false,
      drawStartPoint: { x: null, y: null },
      shapes: [],
      currentShape: null,
      audioFrames: [],
      recording: false,
    };
  },
  mounted() {
    W.map(this.soundFiles, this.generateBuffer).then((buffers) => {
      this.buffers = buffers;

      const { audioContext } = this;

      const returnNode = audioContext.createChannelMerger(2);
      const scriptNode = audioContext.createScriptProcessor(4096, 1, 1);

      scriptNode.onaudioprocess = this.saveAudio;

      returnNode.connect(scriptNode);
      scriptNode.connect(audioContext.destination);
      this.scriptNode = scriptNode;
      this.returnNode = returnNode;

      this.initCanvas();
    });
  },
  methods: {
    generateBuffer({ source, id, name }) {
      return new Promise((resolve) => {
        const { audioContext } = this;

        const req = new XMLHttpRequest();
        req.open('GET', source, true);
        req.responseType = 'arraybuffer';
        req.onload = () => {
          audioContext.decodeAudioData(req.response, (buffer) => {
            resolve({ buffer, id, name });
          });
        };

        req.send();
      });
    },

    generateBufferSource(buffer) {
      const { audioContext } = this;
      const node = audioContext.createBufferSource();
      node.buffer = buffer;
      node.connect(this.returnNode, 0, 0);
      return { node, id: uuid() };
    },

    getRandomBuffer() {
      return sample(this.buffers);
    },

    saveAudio({ inputBuffer, outputBuffer }) {
      // Loop through the output channels (in this case there is only one)
      for (let channel = 0; channel < outputBuffer.numberOfChannels; channel++) { //  eslint-disable-line
        const inputData = inputBuffer.getChannelData(channel);
        const outputData = outputBuffer.getChannelData(channel);

        // Loop through the 4096 samples
        for (let sample = 0; sample < inputBuffer.length; sample++) { //  eslint-disable-line
          // make output equal to the same as the input
          outputData[sample] = inputData[sample];
        }

        if (this.recording) {
          this.audioFrames.push(outputData);
          console.log(outputData);
        }
      }
    },

    stopRecord() {
      this.recording = false;
      console.log(this.audioFrames);
      this.shapes.forEach(({ node }) => {
        node.stop();
      });
    },

    initCanvas() {
      const { canvas } = this.$refs;
      this.ctx = canvas.getContext('2d');
      this.ctx.lineWidth = 5;
      this.ctx.lineJoin = 'round';
      this.ctx.lineCap = 'round';
      this.ctx.strokeStyle = 'blue';

      canvas.addEventListener('mousedown', this.drawStart);
      canvas.addEventListener('mousemove', this.draw);
      canvas.addEventListener('mouseup', this.drawStop);
    },

    drawStart(e) {
      if (!this.recording) {
        this.recording = true;
        setTimeout(this.stopRecord, 8000);
      }

      const { buffer } = this.getRandomBuffer();
      const { node, id } = this.generateBufferSource(buffer);

      this.mouseDown = true;
      const start = { x: e.offsetX, y: e.offsetY };
      this.drawStartPoint = start;

      const newShape = {
        buffer,
        node,
        id,
        start,
        points: [],
      };

      this.currentShape = newShape;

      this.ctx.beginPath();
      this.ctx.moveTo(start.x, start.y);

      node.loop = true;
      node.start();
    },

    draw(e) {
      if (this.mouseDown) {
        this.isDrawing = true;

        this.currentShape.points.push({
          x: e.offsetX,
          y: e.offsetY,
        });

        this.ctx.lineTo(e.offsetX, e.offsetY);
        this.ctx.stroke();
      }
    },

    drawStop() {
      this.mouseDown = false;

      if (this.isDrawing) {
        this.isDrawing = false;

        const lastPoint = this.currentShape.points[this.currentShape.points.length - 1];
        const looped = this.looseEqualPoints(
          this.currentShape.start.x,
          this.currentShape.start.y,
          lastPoint.x,
          lastPoint.y,
        );

        if (looped) {
          //  TODO: do loop stuff here - `new Loop(points)`? handling resize, connect the loop, etc
        } else {
          //  it's a line - just play thru once
          this.currentShape.node.loop = false;
        }
      } else {
        //  just a tap - create a circle
        this.ctx.beginPath();
        this.ctx.arc(
          this.drawStartPoint.x,
          this.drawStartPoint.y,
          50,
          0,
          2 * Math.PI,
        );
        this.ctx.stroke();
      }

      this.shapes.push(this.currentShape);
      this.currentShape = null;
    },

    looseEqualPoints(x1, y1, x2, y2) {
      const xMatch = inRange(x2, x1 - 20, x1 + 20);
      const yMatch = inRange(y2, y1 - 20, y1 + 20);
      return xMatch && yMatch;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.soundboard {
  position: relative;
}

canvas {
  border: 2px solid black;
}
</style>
